<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Ekran Główny</title>
</head>
<body class="bg-gray-100 font-sans">
<div class="mt-6" layout:fragment="content">
    <div class="text-center">
        <h1 class="text-4xl text-red-500">404</h1>
        <p class="text-2xl mt-4">Strona nie została znaleziona</p>
        <p class="mt-2">Przepraszamy, ale strona, której szukasz, nie istnieje.</p>
        <a href="/static" class="mt-4 inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Powrót do
            strony głównej</a>
    </div>
</div>
</body>
</html>