<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Ekran Główny</title>
</head>
<body class="bg-gray-100 font-sans">
<div class="mt-8" layout:fragment="content">
    <div class="mt-8">
        <h2 class="text-2xl font-semibold">Lista rezerwacji</h2>
        <table class="min-w-full bg-white mt-4">
            <thead>
            <tr>
                <th class="py-2 px-4 border-b-2 border-gray-300 text-left leading-4 text-gray-600">Numer rezerwacji</th>
                <th class="py-2 px-4 border-b-2 border-gray-300 text-left leading-4 text-gray-600">Data złożenia</th>
                <th class="py-2 px-4 border-b-2 border-gray-300 text-left leading-4 text-gray-600">Planowana data
                    wykonania
                </th>
                <th class="py-2 px-4 border-b-2 border-gray-300 text-left leading-4 text-gray-600">Status
                </th>
                <th class="py-2 px-4 border-b-2 border-gray-300 text-left leading-4 text-gray-600">Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${reservations}">
                <td class="py-2 px-4 border-b border-gray-300" th:text="${reservation.number}">numer</td>
                <td class="py-2 px-4 border-b border-gray-300" th:text="${reservation.submissionDate}">data</td>
                <td class="py-2 px-4 border-b border-gray-300" th:text="${reservation.plannedStartDate} + ' minut'">
                    data
                </td>
                <td class="py-2 px-4 border-b border-gray-300" th:for="${reservation.status}"
                    th:text="#{'status.'+${reservation.status}}">status
                </td>
                <td class="py-2 px-4 border-b border-gray-300">
                    <button class="bg-green-500 text-white py-1 px-2 rounded hover:bg-green-600">Wyświetl szczegóły
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>